body,html{
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    width: 35vw;
    margin: 2% auto 0;
    background-color: #353535;
    color: white;
    border-radius: 1em;
    padding: 1% 0;
    text-align: center;
}

.filter-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 25vw;
    padding: 25px;
    background-color: #ffffff;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 15%;
}

input[type="text"]{
    width: 90%;
    margin-top: 15%;
}

#galeria-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 30px;
    margin: 5% auto;
}

#galeria-container img{
    transition: 0.3s;
}

#galeria-container img:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.backdrop{
    display: none;
    position: absolute;
    width: 100%;
    min-height: 120vh;
    top: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.7);

}

.modal-okno{
    margin: 2% auto 0;
    background-color: white;
    width: 70vw;
    height: 70vh;
}

#modal-pod-obrazkom{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    padding-bottom: 2%;
    margin-bottom: 2%;

}

.ml3, h3{
    margin-left: 3%;
    text-align: left;
}

#title{
    padding-top: 2.5%;
}


#button-close{
    float: right;
    margin-right: 10%;
}

#slideshow-button, #stop-slideshow-button{
    margin-left: 10%;
}

#stop-slideshow-button{
    display: none;
}

button{
    margin-top: 5%;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    background-color: #0d6efd;
}
button:hover{
    transition-duration: 200ms;
    background-color: #3d8bfd;
    cursor: pointer;
}




.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;


}

.prev {
    left: 16%;
}

.next {
    right: 16%;

}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
}

footer{
    text-align: center;
   /* padding-bottom: 20px;*/
}